body {
    font-family: helvetica;
    color: #333;
    padding-left: 25px;
    padding-top: 25px;
    background: #CCC;
}

#chat hr {
	margin: 8px 0;
}

#error-ph {
	margin-top: 10px;
	font-weight: normal;
}

#chat {
    margin-top: 54px;
    min-height: 400px;
	max-height: 400px;
    background: #AAA;
    width: 620px;
    padding: 10px;
	overflow: auto;
}

#emoticons {
    min-height: 100px;
    background: #DDD;
    width: 620px;
    padding: 10px;
}

.emot:hover {
    box-shadow:4px -4px 10px 3px #888, inset 4px -4px 10px 3px #888;
}

#msg {
    width: 540px;
    position: relative;
    top: 4px;
}

#user {
    width: 360px;
    position: relative;
    top: 1px;
}

#header {
    position: absolute;
    top: 25px;
    color: #EEE;
    width: 620px;
    height: 34px;
    font-weight: bold;
    padding: 10px;
    background: #666;
}

#footer {
    color: #EEE;
    width: 620px;
    height: 34px;
    font-weight: bold;
    padding: 10px;
    background: #666;
}

#roomSelect {
    width: 150px;
}